* {
  margin: 0px;
}
body {
  background-color: #a3e0ed;
}
article {
  display: flex;
  padding: 5px;
  margin: 10px;
  box-shadow: black 1px 1px 15px 1px;
  font-family: Arial, Helvetica, sans-serif;
}
div.rando-pagnol {
  background-color: white;
  margin: 60px;
}
div.rando-urbaine {
  background-color: white;
  margin: 60px;
}
div.rando-calanque {
  background-color: white;
  margin: 60px;
}
div.titre {
  text-align: center;
}
h1 {
  font-size: 25px;
  padding-bottom: 10px;
}
img.photo {
  width: 500px;
  height: 500px;
}
div.slider {
  width: 1300px;
  height: 500px;
  overflow: hidden;
  margin: 10px auto;
}
div.slides {
  width: calc(500px * 3);
  animation: glisse 10s infinite;
}
div.slide {
  float: left;
}
@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-500px);
  }
  45% {
    transform: translateX(-500px);
  }
  66% {
    transform: translateX(-1000px);
  }
  70% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
h1.titre-article {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
section {
  justify-content: center;
  display: flex;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.section-placement {
  width: 60%;
}

/*display telephone*/
/*-----------------*/

@media all and (min-width: 320px) and (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    width: 90%;
  }

  .section-placement {
    width: 90%;
  }

  h1 {
    margin: 2% 0% 2% 0%;
  }

  p {
    margin-bottom: 3%;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.rando-calanque {
    margin: 0%;
  }

  img.photo {
    width: 270px;
    height: 158px;
  }

  div.rando-urbaine {
    margin: 0%;
  }

  div.rando-pagnol {
    margin: 0%;
  }

  /*IMAGE slider*/
  /*------------*/

  div.slider {
    width: 270px;
    height: 158px;
    overflow: hidden;
    margin: 10px auto;
  }
  div.slides {
    width: calc(270px * 3);
    animation: glisse 10s infinite;
  }
  div.slide {
    float: left;
  }
  @keyframes glisse {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-270px);
    }
    45% {
      transform: translateX(-270px);
    }
    66% {
      transform: translateX(-540px);
    }
    70% {
      transform: translateX(-540px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
