* {
  margin: 0px;
}
body {
  background-color: #a3e0ed;
}
article {
  display: flex;
  padding: 5px;
  margin: 10px;
  box-shadow: black 1px 1px 15px 1px;
  font-family: Arial, Helvetica, sans-serif;
}
div.rando-pagnol {
  background-color: white;
  margin: 60px;
}
div.rando-urbaine {
  background-color: white;
  margin: 60px;
}
div.rando-calanque {
  background-color: white;
  margin: 60px;
}
div.titre {
  text-align: center;
}
h1 {
  font-size: 25px;
  padding-bottom: 10px;
}
img.photo {
  width: 500px;
  height: 500px;
}
div.slider {
  width: 1300px;
  height: 500px;
  overflow: hidden;
  margin: 10px auto;
}
div.slides {
  width: calc(500px * 3);
  animation: glisse 10s infinite;
}
div.slide {
  float: left;
}
@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-500px);
  }
  45% {
    transform: translateX(-500px);
  }
  66% {
    transform: translateX(-1000px);
  }
  70% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
h1.titre-article {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
section {
  justify-content: center;
  display: flex;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.section-placement {
  width: 60%;
}
